<app-doctornav></app-doctornav>
<h3 style="text-align: center;color: rgb(43, 174, 184);font-weight: bolder;font-size: 1.5em; background-color: aliceblue; padding: .5em;">PRESCRIBE</h3>
<!-- Template driven form -->
<div style="padding: 50px;padding-top: 0px;padding-bottom: 100px;">
<!-- <form name="userform" #form="ngForm" autocomplete="off" style="padding: 50px;padding-top: 0px;padding-bottom: 100px;"></form> -->
 <!-- Appointment Id (Hidden)-->
<input type = "hidden" name="AppointmentId" [(ngModel)]="prescService.formData2.AppointmentId">

<div class="form-group">
    <label>Patient Name : </label>
    <input type="text" disabled name="PatientName" 
    #PatientName = "ngModel"
    [(ngModel)]="prescService.formData2.PatientName" 
    class="form-control"
    placeholder="Patient Name"
    required minlength="3"
    [ngClass]="{'is-invalid':PatientName.touched && PatientName.invalid}"/>
</div>


<div class="row">
    
        <div class="col">
            <form name="medform" #form="ngForm" autocomplete="off" (ngSubmit)="addMed(form)">
                {{prescService.formData5.MedId}}
            <input type = "hidden" name="MedId" [(ngModel)]="MedIdZero">
            <label>MEDICINE : </label>&nbsp;
            <select name="MedInvId" id="MedInvId"
                class="form-control"
                #MedInvId="ngModel"
                required
                [(ngModel)]="prescService.formData5.MedInvId">
                <option value=0 disabled>Select Medicine</option>
                <option *ngFor="let med of prescService.medicines" 
                value="{{med.MedInvId}}">{{med.MedicineName}}</option>
            </select>&nbsp;
            <input type="text" name="MedQty" [(ngModel)]="prescService.formData5.MedQty" style="margin-top: 10px;width: 4em;" placeholder="Quantity">&nbsp;
            <input type="text" name="MedDosage" [(ngModel)]="prescService.formData5.MedDosage" style="margin-top: 10px;width: 4em;" placeholder="Dosage">&nbsp; 
            <button type="submit" class="btn btn-info" style="padding-left: 5px;padding-right: 5px;margin-left: 4.5em;" >ADD</button>
        </form>
        </div>
    

    <div class="col">
        <form name="labform" #formtest="ngForm" autocomplete="off" (ngSubmit)="addLab(formtest)">
            <input type = "hidden" name="TestId" [(ngModel)]="prescService.formData7.TestId">
            <input type = "hidden" name="TestResValue" [(ngModel)]="prescService.formData7.TestResValue">
            <label>LAB TEST : </label>&nbsp;
            <select name="LabTestId" id="LabTestId"
            class="form-control"
            #LabTestId="ngModel"
            required
            [(ngModel)]="prescService.formData7.LabTestId">
            <option value=0 disabled>Select Lab Test</option>
            <option *ngFor="let med of prescService.labtests" 
            value="{{med.LabTestId}}">{{med.TestName}}</option>
            </select>
            <button type="submit" class="btn btn-info" style="padding-left: 5px;padding-right: 5px;margin-left: 15em;margin-top: 8px;">ADD</button>
        </form>
    </div>


    <div class="col">
        <form name="docform" #form="ngForm" autocomplete="off" (ngSubmit)="addDN(form)" >
            <input type = "hidden" name="DoctorNotesId" [(ngModel)]="prescService.formData6.DoctorNotesId">
            <input type = "hidden" name="AppointmentId" [(ngModel)]="prescService.formData2.AppointmentId">
            <label>NOTES : </label>&nbsp;
            <input type="text" class="form-control" placeholder="Doctor Notes" 
            name="Notes"
            #Notes="ngModel"
            [(ngModel)]="prescService.formData6.Notes"
            style="height: 9em;">
            <button type="submit" class="btn btn-info" style="padding-left: 5px;padding-right: 5px;margin-left: 15em;margin-top: 7px;">SAVE</button>
        </form>
    </div>

</div>
</div>  
    
    
