<app-doctornav></app-doctornav>
<h3 style="text-align: center;color: rgb(43, 174, 184);font-weight: bolder;font-size: 1.5em; background-color: aliceblue; padding: .5em;">PRESCRIBE</h3>
<!-- Template driven form -->

<form name="userform" #form="ngForm" autocomplete="off" style="padding: 50px;padding-top: 0px;padding-bottom: 100px;">
 <!-- Appointment Id (Hidden)-->
<input type = "hidden" name="AppointmentId" [(ngModel)]="prescService.formData2.AppointmentId">

<div class="form-group">
    <label>Patient Name : </label>
    <input type="text" name="PatientName" 
    #PatientName = "ngModel"
    [(ngModel)]="prescService.formData2.PatientName" 
    class="form-control"
    placeholder="Patient Name"
    required minlength="3"
    [ngClass]="{'is-invalid':PatientName.touched && PatientName.invalid}"/>
</div>


<div class="row">
    <div class="col">
        <input type = "hidden" name="MedicineId" [(ngModel)]="prescService.formData5.MedId">
        <label>MEDICINE : </label>&nbsp;
        <select name="MedInvId" id="MedInvId"
            class="form-control"
            #MedInvId="ngModel"
            required
            [(ngModel)]="prescService.formData5.MedInvId">
            <option value=0 disabled>Select Medicine</option>
            <option *ngFor="let med of prescService.medicines" 
            value="{{med.MedInvId}}">{{med.MedicineName}}</option>
        </select>&nbsp;
        <input type="text" style="margin-top: 10px;width: 4em;" placeholder="Quantity">&nbsp;
        <input type="text" style="margin-top: 10px;width: 4em;" placeholder="Dosage">&nbsp; 
        <button class="btn btn-info" style="padding-left: 5px;padding-right: 5px;margin-left: 4.5em;" (click)="addMed()">ADD</button>
    </div>
    <div class="col">
        <label>LAB TEST : </label>&nbsp;
        <select name="LabTestId" id="LabTestId"
            class="form-control"
            #LabTestId="ngModel"
            required
            [(ngModel)]="prescService.formData4.LabTestId">
            <option value=0 disabled>Select Lab Test</option>
            <option *ngFor="let med of prescService.labtests" 
            value="{{med.LabTestId}}">{{med.TestName}}</option>
        </select>
        <button class="btn btn-info" style="padding-left: 5px;padding-right: 5px;margin-left: 15em;margin-top: 8px;" (click)="addLab()">ADD</button>
    </div>
    <div class="col">
        <label>NOTES : </label>&nbsp;
        <input type="text" class="form-control" placeholder="Doctor Notes" style="height: 9em;">
        <button class="btn btn-info" style="padding-left: 5px;padding-right: 5px;margin-left: 15em;margin-top: 7px;" (click)="addDN()">SAVE</button>
    </div>
</div>
  
    
    
