.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
#items{
    flex-grow: 8;
    padding: 20px;
    margin: 20px;
}
#userdetails{
    flex-grow: 2;
    justify-content: center;
}