<app-pharmacistnav></app-pharmacistnav>
<div style="padding: 50px;">
<div class="header" style="margin-bottom: 20px;">
    <div class="">
        <!--Search functionality-->
        <input type="text" class="form-control" placeholder="Search text here..."[(ngModel)]="filter" >
    </div>
    <!--
        [] --- property binding
        () --- event binding 
        ([])--- banana box for event and property --([ngModel])
    -->

</div>

    <table class="table table-bordered">
        <thead>
            <tr style="text-align: center;">
                <th>Medicine Bill ID</th>
                <th>Bill Date</th>
                <th>Patient Name</th>
                <th>Patient Id</th>
                <th>Doctor Id</th>
                <th>Medicine Details</th>
                <th></th>
            </tr>
        </thead>

        <tbody style="text-align: center;">

            <tr *ngFor= "let emp of pharmacybillService.pharmacyBill |filter: filter | paginate :{ itemsPerPage: 4, currentPage: page}">
                <td>{{emp.PrescriptionId}}</td>
                <td>{{emp.Date | date:'dd-MMM-yyyy'}}</td>
                <td>{{emp.PatientName}}</td>
                <td>{{emp.PatientId}}</td>
                <td>{{emp.DoctorId}}</td>
                <div  *ngFor = "let str of emp.Medicine">

                    <td>
                        Medicine Name : {{str.MedicineName}}
                        <br>
                        Medicine Quantity : {{str.MedQty}}
                        <br>
                        Medicine Price : {{str.MedPrice}}
                        <br>
                        Total : {{str.Total}}
                    </td>
                </div>
                
                <td style="text-align: center;">
                    <button class="btn btn-sm btn-info" (click)="PrintBill(emp.PrescriptionId)"> Print Bill </button>
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="footer">
        <!--Pageination footer-->
        <pagination-controls (pageChange) = "page = ($event)"></pagination-controls>
    </div>
    <app-footer></app-footer>
