<div class="container" style="padding-bottom: 5em;">
 
    <h3 style="text-align: center;color: rgb(43, 174, 184);font-weight: bolder;font-size: 3em; background-color: aliceblue; padding: .5em;">LOGIN</h3>
    
    <form [formGroup] = "loginForm" (ngSubmit) = "loginCredentials()" style="background-color: aliceblue; padding:10px;margin:0%;padding-left: 50px;padding-right: 50px;">
        
      <!--User Name Control-->
      <div class="form-group">
            <p>
              <label for="exampleFormControlInput1" class="form-label">User Name</label>
                <input type="text" placeholder="Enter User Name" autocomplete="off" name="StaffName"
                formControlName = "StaffName" class="form-control" minlength="3" required
                [ngClass] = "{'is-invalid' : formControls.StaffName.touched && formControls.StaffName.invalid }"
                autocomplete="off">
            </p>
            <div class="validation"></div>
        </div>
        <!--UserName Validation-->
        <div *ngIf ="isSubmitted && formControls.StaffName.errors">
              <div *ngIf = "formControls.StaffName.errors"
              style="color:crimson; text-align:left;">
                  User Name is required!
              </div>
        </div>
  
         <!--Password Name Control-->
      <div>
          <p>
            <label for="exampleFormControlInput1" class="form-label">Password</label>
              <input type="password" placeholder="Enter Password"
              name="StaffPassword" autocomplete="off"
                formControlName = "StaffPassword" class="form-control" minlength="3" required
                [ngClass] = "{'is-invalid' : formControls.StaffPassword.touched && formControls.StaffPassword.invalid }">
          </p>
      </div>
  
      <!--Password  Validation-->
      <div *ngIf ="isSubmitted && formControls.StaffPassword.errors">
          <div *ngIf = "formControls.StaffPassword.errors"
          style="color:crimson; text-align:left;">
              Password is required!
          </div>
    </div>
  
    <!--Button-->
    <div>
        <button class="btn btn-primary" style="width: 100%;">Login</button>
    </div>
    <div *ngIf = "errors" style="color:crimson; text-align:left;">
      {{errors}}
    </div>
    </form>
  
  </div>
  
  <app-footer></app-footer>