
<div class="header" style="background-color: aliceblue;">
    <div style="margin: 25px;">

        <!--Search functionality-->
        <input class="form-control" type="text" placeholder="Search here.." [(ngModel)]="filter">
        {{filter}}
        <!--Property Binding-->
        
    </div>
</div>
<!-- <button class="btn btn-sm btn-info" (click)="PrintBill()">BILL</button>&nbsp; -->
<div style="margin: 1.5em;overflow: scroll;background-color: aliceblue;padding-bottom: 7em;">
    <a [routerLink]="" class="btn btn-outline-secondary" style="float: right;margin-top: 15px;margin-bottom: 10px;margin-right: 10px;" (click)="PrintBill()">Detailed Bill</a>
        
    <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th>Prescription Id</th>
                <th>PrescriptionDate</th>
                <th>PatientName</th>
                <th>Medicines</th>
            </tr>            
        </thead>
        <tbody>
            <tr *ngFor="let lb of prescribeService.prescribe | filter:filter | paginate: {itemsPerPage:4,currentPage:page}">
                <td>{{lb.PrescriptionId}}</td>
                <td>{{lb.PrescriptionDate | date:'dd-MM-yyyy'}}</td>
                <td>{{lb.PatientName}}</td>
                <td>{{lb.Medicines}}</td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
        <!--Pagination-->
    </div>
</div>

<app-footer></app-footer>
