<app-receptionistnav></app-receptionistnav>
<div class="flex-container">
    <div class="container-fluid">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi aut enim eveniet, eum assumenda obcaecati laborum repellat praesentium. Expedita sapiente, deleniti non et facere laborum maxime aut quis assumenda molestiae.</p>
    </div>
    <div class="container-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolorem modi rem explicabo, rerum harum quos qui omnis iste, sed possimus reiciendis commodi, veritatis consequuntur ex dolor cum voluptatibus quaerat.</p>
    </div>
</div>

