<app-receptionistnav></app-receptionistnav>
<div class="flex-container">
    <div class="container">
        <table class="table table-bordered table striped">
            <thead>
                <tr>
                    <th>AppointmentId</th>
                    <th>TokenNo</th>
                    <th>DateOfAppointment</th>
                    <th>PatientId</th>
                    <th>DoctorId</th>
                    <th>ReceptionistId</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bill of billservice.billing ">
                    <td>{{bill.AppointmentId}}</td>
                    <td>{{bill.TokenNo}}</td>
                    <td>{{bill.DateOfAppointment | date:'dd-MMM-yyyy'}}</td>
                    <td>{{bill.PatientId}}</td>
                    <td>{{bill.DoctorId}}</td>
                    <td>{{bill.ReceptionistId}}</td>
                    <td>
                        <button class="btn btn-sm btn-info">PrintBill</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<app-footer></app-footer>
