<div class="container">
    <div class="card" *ngFor="let emp of pharmacybillService.pharmbillprint">
        <div class="container" id="page">
            <div class="card-header">
                <p id="billingId">
                    <span id="billId">Billing Id : &nbsp;</span>
                    <span id="billIdData"> {{ emp.PrescriptionId }} </span>
                    <br>
                    <span id="date">Date : &nbsp; {{ emp.Date | date:'dd-MMM-yyyy' }}</span>
                </p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <span id="patientId">Patient Id : &nbsp; {{ emp.PatientId }}</span><br>
                    <span id="patientName"> Patient Name : &nbsp; {{ emp.PatientName }}</span>
                </p>
                <p class="card-text">Doctor Id : &nbsp; {{ emp.DoctorId }}</p>
                <div class="card-text" *ngFor="let str of emp.Medicine">
                    <p>Medicine Name : &nbsp; {{ str.MedicineName }}</p>
                    <p>Medicine Quantity : &nbsp; {{ str.MedQty }}</p>
                    <p>Medicine Price : &nbsp; {{ str.MedPrice }}</p>
                    <input type="number" disabled value="{{ str.Total }}" />
                </div>
                <label for=""> GrandTotal</label>
                <input class="card-text" id="gtotal" type="number" value="" />
            </div>
        </div>
        <button class="btn btn-primary" (click)="onSubmit()">Grand Total</button>
    </div>
    <button class="btn btn-success" (click)="Screen()">Print Bill</button>
</div>