<app-doctornav></app-doctornav>
<div class="header" style="background-color: aliceblue;">
    <div style="margin: 25px;">

            <!--Search functionality-->
            <input class="form-control" type="text" placeholder="Search here.." [(ngModel)]="filter">
            {{filter}}
            <!--Property Binding-->
            
    </div>
    
</div>
<div style="margin: 1.5em;overflow: scroll;background-color: aliceblue;padding-bottom: 9em;">
    <!-- <a [routerLink]="" class="btn btn-outline-secondary" style="float: right;margin-top: 15px;margin-bottom: 10px;" (click)="addLabtest()">Add Lab Tests</a> -->
    <table class="table table-ordered table-striped">
        <thead>
            <tr>
                <th>TokenNo</th>
                <th>DateOfAppointment</th>
                <th>AppointmentId</th>
                <th>PatientName</th>
                <th></th>  
            </tr>
        </thead>
        
        <tbody> 
            <tr *ngFor="let app of appointmentService.appointment1 | filter:filter | paginate: {itemsPerPage:3,currentPage:page}" >
                
                <td>{{app.TokenNo}}</td>
                <td>{{app.DateOfAppointment | date:'dd-MMM-yyyy'}}</td>
                <td>{{app.AppointmentId}}</td>
                <td>{{app.PatientName}}</td>
                <td>
                    <button class="btn btn-sm btn-info" (click)="prescribe(app.AppointmentId)"> Prescribe </button>
                </td>
                 
            </tr>
        </tbody>
       </table>  
       <div >
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
        <!--Pagination-->
    </div>
</div> 
<app-footer></app-footer>