<app-admin-nav></app-admin-nav>
<div class="header" style="background-color: aliceblue;">
    <div style="margin: 25px;">

            <!--Search functionality-->
            <input class="form-control" type="text" placeholder="Search here.." [(ngModel)]="filter">
            {{filter}}
            <!--Property Binding-->
            
    </div>
    
</div>
<div style="margin: 1.5em;overflow: scroll;background-color: aliceblue;">
    <a [routerLink]="" class="btn btn-outline-secondary" style="float: right;margin-top: 15px;margin-bottom: 10px;" (click)="addLabtest()">Add Lab Tests</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>LABTEST ID</th>
                <th>Test Name</th>
                <th>Normal Range</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th> <!--Edit/Delete-->
            </tr>            
        </thead>
        <tbody>
            <tr *ngFor="let lb of labtestService.labtests | filter:filter | paginate: {itemsPerPage:5,currentPage:page}">
                <td>{{lb.LabTestId}}</td>
                <td>{{lb.TestName}}</td>
                <td>{{lb.TestNormalRange}}</td>
                <td>{{lb.TestDesc}}</td>
                <td>{{lb.TestPrice}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-info" (click)="updateLabtest(lb.LabTestId)">Edit</button>&nbsp;
                    <button class="btn btn-sm btn-danger" (click)="deleteLabtest(lb.LabTestId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
        <!--Pagination-->
    </div>
</div>
