<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
  <div class="container-fluid">
    <img src="../assets/doc.png" alt="" id="nav-img">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href='prescriptions'>PRESCRIPTIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href='labtest'>LABTESTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href='#'>MEDICINE</a>
        </li>
      </ul>
      <ul class="navbar-nav me-5 mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/report">NEW !</a>
        </li>         -->
        <li class="nav-item" style="float: right;">
          <a class="nav-link active" aria-current="page" href="#" >LOGOUT</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="card" style="background-color: aliceblue;">
  <div class="card-body" style="margin: 0%;padding: 0%;">
      <router-outlet></router-outlet>
  </div>
</div>

<footer style="float: right;">
  <div class="container">
      <span>All rights reserved 2022 @NIRVANA</span>

  </div>
</footer>

