<app-receptionistnav></app-receptionistnav>
    <div class="header">
        <div style="margin: 25px;">
            <!--search functionality-->
            <input class="form-control" type="text" placeholder="search text here..." [(ngModel)]="filter">
            
           </div>
    </div>
    
<div style="margin: 1.5em;overflow: scroll;background-color: aliceblue;padding-bottom: 5em;">
    <a [routerLink]="" class="btn btn-outline-secondary" style="float: right; margin-top: 10px; margin-bottom: 10px;" (click)='addPatient()'> Add Patient</a>
    <table class="table table-bordered table striped">
        <thead>
            <tr>
                <th>PatientId</th>
                <th>PatientName</th>
                <th>PatientDob</th>
                <th>PatientGender</th>
                <th>PatientPhoneNo</th>
                <th>BloodGroup</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pt of patientService.patients| filter:filter | paginate:{itemsPerPage:5,currentPage:page} ">
                <td>{{pt.PatientId}}</td>
                <td>{{pt.PatientName}}</td>
                <td>{{pt.PatientDob | date:'dd-MMM-yyyy'}}</td>
                <td>{{pt.PatientGender}}</td>
                <td>{{pt.PatientPhoneNo}}</td>
                <td>{{pt.BloodGroup}}</td>
                <td>
                    <button class="btn btn-sm btn-info" (click)="updatePatient(pt.PatientId)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="footer">
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>


<app-footer></app-footer>