<app-receptionistnav></app-receptionistnav>
<form name="app" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)"></form>
<div class="header">
    <div class="form-control">
    </div>
    <div class="btn btn-outline-secondary" style="float: right; margin-top: 10px; margin-bottom: 10px;">Print Bill</div>
</div>
<form name="app" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <!--Appointment ID Hidden-->
    <input type="hidden" name="AppointmentId" [(ngModel)]="appServices.formData2.AppointmentId">

    <!--token no-->
    <div class="form-group">
        <label>TokenNo</label>
        <input type="number" step="1" pattern="\d" name="TokenNo" #TokenNo="ngModel" [(ngModel)]="appServices.formData2.TokenNo"
            class="form-control" placeholder="Enter TokenNo" required
            [ngClass]="{'is-invalid': TokenNo.touched && TokenNo.invalid}" />
        <!--Validation-->
        <div class="validation-error" *ngIf="TokenNo.touched && TokenNo.invalid">

            <div *ngIf="TokenNo.errors.required">
                TokenNo required
            </div>
        </div>
    </div>
    <!--Appointment date-->
    <div class="form-group">
        <label>DateOfAppointment</label>
        <input type="date" name="DateOfAppointment" #DateOfAppointment="ngModel"
            [(ngModel)]="appServices.formData2.DateOfAppointment" class="form-control"
            placeholder="Enter Date Of Appointment" required
            [ngClass]="{'is-invalid': DateOfAppointment.touched && DateOfAppointment.invalid}" />
        <!--Validation-->
        <div class="validation-error" *ngIf="DateOfAppointment.touched && DateOfAppointment.invalid">

            <div *ngIf="DateOfAppointment.errors.required">
                Date Of Appointment required !
            </div>
        </div>
    </div>
    <!--PatientId-->
    <div class="form-group">
        <label>PatientId</label>
        <input type="number" step="1" pattern="\d" name="PatientId" #PatientId="ngModel" [(ngModel)]="appServices.formData2.PatientId"
            class="form-control" placeholder="Enter PatientId" required
            [ngClass]="{'is-invalid': PatientId.touched && PatientId.invalid}" />
        <!--Validation-->
        <div class="validation-error" *ngIf="PatientId.touched && PatientId.invalid">

            <div *ngIf="PatientId.errors.required">
                PatientId required
            </div>
        </div>
    </div>
    <!-- PatientName-->
    <div class="form-group">
        <label>PatientName: </label>
        <input type="text" name="PatientName" #PatientName="ngModel" [(ngModel)]="appServices.formData2.PatientName"
            class="form-control" placeholder="Enter Full Name" required minlength="5" maxlength="25"
            [ngClass]="{'is-invalid': PatientName.touched && PatientName.invalid}" />
        <!--Validation-->
        <div class="validation-error" *ngIf="PatientName.touched && PatientName.invalid">

            <div *ngIf="PatientName.errors.required">
                Name is required
            </div>
        </div>
    </div>
    <!--DoctorId-->
    <div class="form-group">
        <label>DoctorId</label>
        <input type="number" step="1" pattern="\d" name="DoctorId" #DoctorId="ngModel" [(ngModel)]="appServices.formData2.DoctorId"
            class="form-control" placeholder="Enter DoctorId" required
            [ngClass]="{'is-invalid': DoctorId.touched && DoctorId.invalid}" />
        <!--Validation-->
        <div class="validation-error" *ngIf="DoctorId.touched && DoctorId.invalid">

            <div *ngIf="DoctorId.errors.required">
                DoctorId required
            </div>
        </div>
    </div>
</form>