<app-receptionistnav></app-receptionistnav>
<!-- Template-Drivern Form -->
<form name="patform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <input type="hidden" name="PatientId" [(ngModel)]="patientService.formData.PatientId">

    <!-- PatientName-->
    <div class="form-group">
        <label>Full Name : </label>
        <input type="text" name="PatientName" pattern="[A-Za-z]+" #PatientName="ngModel" [(ngModel)]="patientService.formData.PatientName"
            class="form-control" placeholder="Enter Full Name" required minlength="5" maxlength="25"
            [ngClass]="{'is-invalid': PatientName.touched && PatientName.invalid}" />
        <!--Validation-->
        <div class="validation-error" *ngIf="PatientName.touched && PatientName.invalid">

            <div *ngIf="PatientName.errors.required">
                Name is required
            </div>
        </div>
    </div>
    <!--Date of Birth-->
    <div class="form-group">
        <label>PatientDob : </label>
        <input type="date" name="PatientDob" #PatientDob="ngModel" [(ngModel)]="patientService.formData.PatientDob"
            class="form-control" placeholder="Enter Date Of Birth" required
            [ngClass]="{'is-invalid': PatientDob.touched && PatientDob.invalid}" />
        <!--Validation-->
        <div class="validation-error" *ngIf="PatientDob.touched && PatientDob.invalid">

            <div *ngIf="PatientDob.errors.required">
                Date of Birth required !
            </div>
        </div>
    </div>
        <!-- Gender dropdown -->
        <div class="form-floating">
            <select name="PatientGender" id="PatientGender"
            class="form-select"
            #PatientGender = "ngModel"
            required
            [(ngModel)] = "patientService.formData.PatientGender"
            >
            <br>
            <option value="0" disabled> Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <label for="PatientGender">PatientGender</label>
            <!--Validation-->
            <div class="validation-error" *ngIf = "PatientGender.touched && PatientGender.invalid">
               
                <div *ngIf = "PatientGender.errors.required">
                    Patient Gender required
                </div>
            </div>
        </div>
    
<!--Contact-->
<div class="form-group">
    <label>PatientPhoneNo</label>
    <input type="text" name = "PatientPhoneNo"
    #PatientPhoneNo = "ngModel"
    [(ngModel)] = "patientService.formData.PatientPhoneNo"
    class="form-control"
    placeholder="Enter 10 digit mobile number"
    required 
    minlength="10"
    maxlength="10"
    [ngClass] = "{'is-invalid':PatientPhoneNo.touched && PatientPhoneNo.invalid}" 
    pattern="\d+"/>
    <!--Validation-->
    <div class="validation-error" *ngIf = "PatientPhoneNo.touched && PatientPhoneNo.invalid">
       
        <div *ngIf = "PatientPhoneNo.errors.required">
             Mobile number required
        </div>
    </div>
</div>
        <!-- BloodGroup dropdown -->

        <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid"
             aria-label="Floating label select example"
             #BloodGroup = "ngModel"
            required name="BloodGroup"
            [(ngModel)] = "patientService.formData.BloodGroup">
              <option selected>Select BloodGroup</option>
              <option value="O+">O+</option>
            <option value="O+">O-</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
            </select>
            <label for="BloodGroup">BloodGroup :  </label>
            <!--Validation-->
            <div class="validation-error" *ngIf = "BloodGroup.touched && BloodGroup.invalid">
               
                <div *ngIf = "BloodGroup.errors.required">
                     BloodGroup required
                </div>
            </div>
        </div>
    
    <!--Submit-->
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary form-control"
            [disabled]="!(form.valid && form.dirty)">Submit</button>
    </div>

</form>