
<div class="header" style="background-color: aliceblue;">
    <div style="margin: 25px;">

            <!--Search functionality-->
            <input class="form-control" type="text" placeholder="Search here.." [(ngModel)]="filter">
            {{filter}}
            <!--Property Binding-->
            
    </div>
    
</div>
<div style="margin: 1.5em;overflow: scroll;background-color: aliceblue;">
    <!-- <a [routerLink]="" class="btn btn-outline-secondary" style="float: right;margin-top: 15px;margin-bottom: 10px;" (click)="addLabtest()">Add Lab Tests</a> -->
    <table class="table table-ordered table-striped">
        <thead>
            <tr>
                <th>DoctorId</th>
                <th>DoctorName</th>
              
                <th></th><!--edit,delete-->
            </tr>
        </thead>
        
        <tbody> 
            <tr *ngFor="let app of appointmentService.appointment | filter:filter | paginate: {itemsPerPage:3,currentPage:page}" >
                <td>{{app.DoctorId}}</td>
                <td>{{app.DoctorName}}</td>
                
                 <td>
                    <!-- <button class="btn btn-sm btn-info" (click)="updateMedicine(med.MedInvId)"> Edit </button>
                    &nbsp;
                     --><button class="btn btn-sm btn-info" (click)="bindListDoctorAppointments(app.DoctorId)"> View Appointments </button>
                    
                </td> 
            </tr>
        </tbody>
       </table>  
       <div >
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
        <!--Pagination-->
    </div>
</div> 