<app-admin-nav></app-admin-nav>
<!-- Template-Drivern Form -->
    
<form name ="stafform" #form="ngForm" autocomplete="off" (ngSubmit) = "onSubmit(form)">
    <!--Employee ID Hidden-->
    <input type="hidden" name="StaffId" [(ngModel)] = "staffService.formData.StaffId" >

    
    <!-- StaffName-->
    <div class="form-group">
        <label>Full Name :  </label>
        <input type="text" name = "StaffName"
        pattern="[A-Za-z]+"
        #StaffName = "ngModel"
        [(ngModel)] = "staffService.formData.StaffName"
        class="form-control"
        placeholder="Enter Full Name"
        required minlength="5" maxlength="25"
        [ngClass] = "{'is-invalid': StaffName.touched && StaffName.invalid}"
        />
        <!--Validation-->
        <div class="validation-error" *ngIf = "StaffName.touched && StaffName.invalid">
           
            <div *ngIf = "StaffName.errors.required">
                 Name is required
            </div>
        </div>
    </div>

    <!--Address-->
     <!--StaffPassword-->
     <div class="form-group">
        <label>Address :  </label>
        <textarea name = "StaffAddr"
        #StaffAddr = "ngModel"
        [(ngModel)] = "staffService.formData.StaffAddr"
        class="form-control"
        placeholder="Enter Address"
        required minlength="5" maxlength="100"
        [ngClass] = "{'is-invalid': StaffAddr.touched && StaffAddr.invalid}"></textarea>
        <!--Validation-->
        <div class="validation-error" *ngIf = "StaffAddr.touched && StaffAddr.invalid">
           
            <div *ngIf = "StaffAddr.errors.required">
                 Address required
            </div>
        </div>
    </div>

    <!--Date of Birth-->
    <div class="form-group">
        <label>Date Of Birth  :  </label>
        <input type="date" name = "StaffDob"
        id="dateField"
        #StaffDob = "ngModel"
        [(ngModel)] = "staffService.formData.StaffDob"
        class="form-control"
        placeholder="Select a designation"
        required minlength="5" max="2022-20-02"
        [ngClass] = "{'is-invalid': StaffDob.touched && StaffDob.invalid}"/>
        <!--Validation-->
        <div class="validation-error" *ngIf = "StaffDob.touched && StaffDob.invalid">
           
            <div *ngIf = "StaffDob.errors.required">
                 Enter a valid date
            </div>
        </div>
    </div>

    <!--Contact-->
    <div class="form-group">
        <label>Phone Number :  </label>
        <input type="number" name = "Phone"
        #Phone = "ngModel"
        [(ngModel)] = "staffService.formData.Phone"
        class="form-control"
        placeholder="Enter 10 digit mobile number"
        required minlength="10" maxlength="10"
        [ngClass] = "{'is-invalid': Phone.touched && Phone.invalid}" 
        pattern="[0-9]+"/>
        <!--Validation-->
        <div class="validation-error" *ngIf = "Phone.touched && Phone.invalid">
           
            <div *ngIf = "Phone.errors.required">
                 Mobile number required
            </div>
        </div>
    </div>

    <!--Passwoed-->
    <div class="form-group">
        <label>Password :  </label>
        <input type="text" name = "StaffPassword"
        #StaffPassword = "ngModel"
        [(ngModel)] = "staffService.formData.StaffPassword"
        class="form-control"
        placeholder="enter your password"
        required minlength="5" maxlength="25"
        [ngClass] = "{'is-invalid': StaffPassword.touched && StaffPassword.invalid}"/>
        <!--Validation-->
        <div class="validation-error" *ngIf = "StaffPassword.touched && StaffPassword.invalid">
           
            <div *ngIf = "StaffPassword.errors.required">
                 StaffPassword required
            </div>
        </div>
    </div>

    <!-- BloodGroup dropdown -->

    <div class="form-floating">
        <select class="form-select" id="floatingSelectGrid"
         aria-label="Floating label select example"
         #BloodGroup = "ngModel"
        required name="BloodGroup"
        [(ngModel)] = "staffService.formData.BloodGroup">
          <option selected>Select BloodGroup</option>
          <option value="O+">O+</option>
        <option value="O+">O-</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        </select>
        <label for="BloodGroup">BloodGroup :  </label>
        <!--Validation-->
        <div class="validation-error" *ngIf = "BloodGroup.touched && BloodGroup.invalid">
           
            <div *ngIf = "BloodGroup.errors.required">
                 BloodGroup required
            </div>
        </div>
    </div>


     <!-- Department dropdown -->
     <div class="form-floating">
        <select name="RoleId" class="form-control" id="RoleId"
        aria-label="Floating label select example"
        #RoleId = "ngModel"
        required
        [(ngModel)] = "staffService.formData.RoleId">
          <option selected>Select Department</option>
          <option *ngFor = " let dept of staffService.department"
          value="{{dept.RoleId}}">{{dept.RoleName}}</option>
        </select>
        <label for="RoleId">Department :</label>
        <!--Validation-->
        <div class="validation-error" *ngIf = "RoleId.touched && RoleId.invalid">
           
            <div *ngIf = "RoleId.errors.required">
                 Department required
            </div>
        </div>
    </div>

    <!-- Gender dropdown -->
    <div class="form-floating">
        <select name="Gender" id="Gender"
        class="form-select"
        #Gender = "ngModel"
        required
        [(ngModel)] = "staffService.formData.Gender"
        >
        <br>
        <option value="0" disabled> Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>
    <label for="Gender">Gender :  </label>
        <!--Validation-->
        <div class="validation-error" *ngIf = "Gender.touched && Gender.invalid">
           
            <div *ngIf = "Gender.errors.required">
                 Gender required
            </div>
        </div>
    </div>


    <!--IsActive-->
    <div class="form-group">
        <div class="form-check">
            <label class = "form-check-label" id="isActive">IsActive</label>
            <input type="checkbox" name="StaffIsActive" id="StaffIsActive"
            #StaffIsActive = "ngModel"
            [(ngModel)] = "staffService.formData.StaffIsActive"
            class="form-check-input"
            >
        </div>
    </div>

     <!--Submit-->
     <br>
     <div class="form-group">
         <button type="submit" 
         class="btn btn-lg btn-primary form-control"
         [disabled] = "!(form.valid && form.dirty)">Submit</button>
     </div>
 
 </form>