#RoleId{
    margin-top: 20px;
    margin-bottom: 20px;
}
#Gender{
    margin-top: 20px;
    margin-bottom: 20px;
}
#floatingSelectGrid{
    margin-top: 20px;
    margin-bottom: 20px;
}
#StaffIsActive{
    margin-left: 10px;
}
#IsActive{
    margin-left: 40px;
}
